@using Dima.Web.Components
@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" @bind-IsDarkMode="@_isDarkmode" Theme="Configuration.ThemeOne" />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar>
                <MudIconButton
                    Icon="@Icons.Material.Filled.Menu"
                    Color="Color.Inherit"
                    Edge="Edge.Start"
                    OnClick="@ToggleDrawer"
                    />
                <h2>Dima</h2>
                <MudSpacer/>
                <MudButton
                    Href="/lancamentos/novo"
                    Variant="Variant.Text" 
                    Color="Color.Dark" 
                    StartIcon="@Icons.Material.TwoTone.Add">
                    NOVO LANÇAMENTO
                </MudButton>
                <MudSpacer/>
                <MudText Typo="Typo.caption">
                    @context.User.Identity?.Name
                </MudText>
                <MudSwitch 
                    Color="Color.Inherit" 
                    T="bool" 
                    @bind-Value="_isDarkmode" 
                    Class="ma-4" 
                    ThumbIcon="@Icons.Material.TwoTone.Lightbulb"
                    />
            </MudAppBar>
            <MudDrawer @bind-Open="_isDrawer">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer>
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool _isDarkmode = true;
    private bool _isDrawer = true;
        
    
    private MudThemeProvider _mudThemeProvider = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkmode = await _mudThemeProvider.GetSystemDarkModeAsync();
            await _mudThemeProvider.WatchSystemDarkModeAsync(OnSystemPreferenceChanged);
            StateHasChanged();
        }
    }

    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _isDarkmode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private void ToggleDrawer() => _isDrawer = !_isDrawer;
}